[2017-03-07 14:16] builtbyjay opened #10 "Show set-up instructions on README for an angular-cli project"
Unfortunately I can't figure out how to set this up within my angular-cli project, would you be able to provide some example code as to how to do this please?

[2017-03-07 14:38] wswebcreation commented on #10
Hi @builtbyjay ,

What is your setup? That would make it easier to help you.

[2017-03-07 14:43] builtbyjay commented on #10
Sorry I should've included that in the original post. I am using the latest version of angular-cli (1.0.0-rc.0 - build and compilation tasks handled by webpack) and angular 2.4.

[2017-03-07 15:08] wswebcreation commented on #10
I need to dive into that, but is there a way you can hook on to the server process. I see angular-cli uses express.

[2017-03-09 20:34] mdasberg commented on #10
@builtbyjay I have added [ANGULAR_CLI.md](https://github.com/mdasberg/ng-apimock/blob/master/ANGULAR_CLI.md) which should contain all the information you need.

If you still have questions, don't hesitate to ask.

[2017-03-15 22:55] builtbyjay commented on #10
Guys, thank you so much for a) the angular-cli documentation and b) this awesome awesome project! It is exactly what my team is looking for for our mocked e2e and behavioural tests. Would you mind if I wrote a blog article in the (hopefully not too distant) future about how we're using it in our Angular workflow?

[2017-03-16 05:41] wswebcreation commented on #10
@builtbyjay

Tnx, and feel free.

[2017-03-16 10:10] builtbyjay commented on #10
Sorry to reopen the issue, I'm unable to get ngApimock to work with my protractor tests. I have added:
[code]
to the `onPrepare` block of my protractor.conf.js file and when I run my e2e tests, I get the following error:

[code]

What am I doing wrong?

Angular 2.4.0
Angular-cli 1.0.0-rc.2
Protractor 5.1.0

[2017-03-16 10:45] mdasberg commented on #10
can you add

[code]
to your protractor conf.

That should fix your problem

[2017-03-16 11:43] builtbyjay commented on #10
That's that problem fixed, but now I'm getting the following error:

[code]

Seems I can't access the `global.ngApimock` declared in my `onPrepare`.

[2017-03-16 11:47] wswebcreation commented on #10
@builtbyjay

Can you give an example of your `app.e2e-spec.ts` file?

Did you also declared it like this `declare const ngApimock: any;` ?

[2017-03-16 11:56] builtbyjay commented on #10
Sure. protractor.conf.js looks like this:

[code]

And app.e2e-spec.ts looks like this:

[code]

[2017-03-16 12:22] builtbyjay commented on #10
Ok, so I've figured out how to pass ngApimock into the e2e file. I've changed the onPrepare block of protractor.conf.js to add ngApimock to the global `browser` object:
[code]

And I can access that within my e2e test as follows:
[code]

This isn't working unfortunately, the browser fires up but the tests hang and the page is never loaded.

[2017-03-16 13:31] wswebcreation commented on #10
Did you declare the global ngApimock in your e2e file?

[2017-03-16 13:43] builtbyjay commented on #10
No I don't think I have..

[2017-03-16 14:43] builtbyjay commented on #10
Hey guys, I think I've solved my issue. When running my e2e tests, my angular-cli app is served on port 49154, proxied to the ngApimock server running on port 3000.

However, in the generated `.tmp/ngApimock/protractor.mock.js`, the _execute() requests are being sent to `http://localhost:49154/ngapimock/mocks` rather than to `http://localhost:3000/ngapimock/mocks`, resulting in timeouts.

Manually

[2017-03-16 15:12] wswebcreation commented on #10
Tnx for the response.

I'm closing the issue for now. If you have more questions feel free to open a new issue

[2017-03-16 15:12] #10 closed

[2017-04-27 14:26] Tipster74743 opened #12 "Protractor not able to run tests with ngApimock"
I'm getting an error as soon as the spec starts when running protractor 5.1.1

[09:15:44] E/launcher - Could not select scenario [success]
[09:15:44] E/launcher - Error: Could not select scenario [success]
    at process.on (C:\Program Files (x86)\Nodist\bin\node_modules\protractor\lib\launcher.ts:187:50)
    at emitOne (events.js:96:13)
    at process.emit (events.js:188:7)
    at process.emit (C

[2017-04-27 14:51] wswebcreation commented on #12
@Tipster74743

Can you post the json you want to use. Each json should have a 'name:"api-name"' to identify it. It now looks you are referring to the expression.

[2017-04-27 20:08] Tipster74743 commented on #12
Yeah, I actually was able to change it after seeing that the basepath was going to localhost:4200 instead of localhost:3000.

Here is the json, though:

[code]

The protractor test actually loads now with that change. Is there a way to get it to stay on 3000 instead of 4200?

[2017-04-27 21:33] Tipster74743 commented on #12
Also, speaking of expressions, does it have to match the entire name of the http request? For example, in my first question, it shows 'api/v1/consumer'. Do I need the full path for this? Or should I expect the plugin to spot just that portion? Debugging, it looks like it's still working like normal.

[2017-04-29 18:15] wswebcreation commented on #12
Sorry for the late reaction, didn't notices both your question.

**Question portnumber:**
_The protractor test actually loads now with that change. Is there a way to get it to stay on 3000 instead of 4200?_ Can you give your config of protractor and your config of the server you are starting? It looks that there is a difference between them.

**Question expression:**
According to the readme: `"exp

[2017-04-30 09:37] mdasberg commented on #12
@Tipster74743

Question portnumber:
When using the angular-cli setup, your api can both be accessed under localhost:4200 and localhost:3000.

This is because you run the mocks as a [separate server](https://github.com/mdasberg/ng-apimock/blob/master/ANGULAR_CLI.md#2-serve-the-mocks) which runs by default on 3000,
and you proxy the requests from the [angular-cli serve](https://github.com/mdasberg/n

[2017-05-01 14:25] Tipster74743 commented on #12
@wswebcreation I think that did it. I totally glanced over the baseURL in the protractor config.

[2017-05-01 14:25] #12 closed

[2017-05-19 21:57] allanbond commented on #10
@builtbyjay

I had the same problem with the port and found that I needed to add another entry to my proxy.config.json.

I added my app's endpoints AND the ngmockapi endpoints. This way, both sets of endpoints will be sent to the ngmockapi server (at port 3000).

`
{
 "/myapi/*": {
   "target": "http://localhost:3000",
   "secure": false,
   "logLevel": "debug"
 },
 "/ngapimock/*": {
   "target":

[2017-05-19 22:44] allanbond opened #13 "Proxy config in Angular CLI instructions is unclear"
I had an issue getting ngMockapi working w/Angular CLI.

[code]

I found that the proxy config (Step 3 in the Angular CLI instructions) only proxies requests that match "/api/*" to the mock data server.

It seems that requests generated from the ngMockapi API (like selectScenario()) also need to be proxied to the mock data server. The sample proxy config in the instructions doesn't include this.

[2017-05-22 10:27] builtbyjay commented on #10
@allanbond That is a very nice fix, thanks!

[2017-05-22 10:30] mdasberg commented on #13
@allanbond thanks for pointing that out.
I will update the documentation.

[2017-06-07 07:14] #13 closed

[2017-06-21 11:53] wswebcreation opened #14 "Feature: load global variables as an object / string"
**Current:**
We now need to add each global variable per key (for local development and also for protractor tests)

**Desired situation:**
It would be nice if we can add global variables as an object / string like this

[code]

[2017-06-21 12:01] wswebcreation opened #15 "Feature: update scenarios in Protractor with 1 call"
**Current:**
When ng-apimock is used within protractor tests and multiple scenario's need to be selected multiple calls to `ngApimock.selectScenario('mock.name', 'mock.scenario')` need to be created

**Desired situation:**
It would be nice that there is a new method called for example `selectMultipleScenario(object)` that can do something like this (this is how we implemented it in our project)

[

[2017-06-21 12:04] wswebcreation opened #16 "Feature: ng-apimock watches changes in mockdata"
**Current:**
When mockdata is changed ng-apimock needs to be reloaded and looses it's state / global variables

**Desired situation:**
It would be nice that there is a watcher in ng-apimock that watches the mockdata-folder and keeps the selected scenario's / global variables that already been loaded.

[2017-07-04 13:01] ebem opened #18 "Examples for angular2+ and protractor"
Can You please provide some examples for e2e tests using angular2+ and protractor ?

I tried to do as said in : "Howto use for your protractor tests."
But this throws error:  ngApimock.selectScenario(...) , Cannot find name 'ngApimock'
What am I missing here ?
I added global.ngApimock = require('.. path to: protractor.mock.js') and also did: "Using Angular 2 or higher with Protractor?" steps, but

[2017-07-04 17:31] wswebcreation commented on #18
Hi @ebem ,

Can you please provide your config file how you implemented it. According to the docs it should be required in the `onPrepare()` method of Protractor

[2017-07-05 17:25] Local9 commented on #18
Sorry, also some what confused.

I'm using the angular-cli, I have read the example in your comment and tried my best to make it work within this frame work but still not getting it.

I gathered the protractor.mock.js should possibly be;
`var ngApimock = require('ng-apimock')();

ngApimock.run({
  "src": "mocks",
  // "outputDir": "path/to/outputDir",
  "done": function() {
  // async
  }
});

ret

[2017-07-06 10:54] Jeroenvandepol opened #19 "Add functionality in the GUI for CRUD mock files"
Now you have to write your mock files from scratch in JSON, it would be nice if you can manage them through a nice GUI

[2017-07-07 03:36] wswebcreation commented on #18
@ebem

I saw an email from github that you added more info, but I can't see it here. Did something went wrong?

[2017-07-10 11:53] bastiannijboer commented on #16
+1. This would also help us a lot!

[2017-07-10 14:12] ebem commented on #18
No sorry for my late response. The thing is, I already changed my logic for mockup server in my application, so I can't provide you with the config file, it useless for ng-apimock. I will try this (ng-apimock) package some time in future and will see how it works for my next app and give you a feed back.. So I guess you can close this issue.

P.S Thanks for your fast response.

[2017-07-10 14:27] wswebcreation commented on #18
Ok,

Tnx, I'll close the issue for now

[2017-07-10 14:27] #18 closed

[2017-07-10 14:30] sandervalstar opened #20 "Please add functionality to add a delay by default"
In tests it's possible to set a delay with the delayResponse function, however during development I can only add a delay to a mocked endpoint manually on the /mocking page.
I would like to add a small delay to some endpoints by default so it's easy to see during development that the loading spinners still work.

I would propose an optional **"delay"** or **"delayResponse"** field to the responses

[2017-07-10 14:35] wswebcreation commented on #20
Hi @sandervalstar

Tnx for your suggestion, if you have time for it you may also add a PR for it :)

[2017-07-10 21:45] mdasberg commented on #20
@sandervalstar I just implemented the change you suggested.
When the build is successful, I will create a release.

[2017-07-11 06:41] sandervalstar commented on #20
That's awesome! Thanks a lot!

On Jul 10, 2017 23:45, "Mischa Dasberg" <notifications@github.com> wrote:

@sandervalstar <https://github.com/sandervalstar> I just implemented the
change you suggested.
When the build is successful, I will create a release.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/mdasberg/ng-apimock/is

[2017-07-11 21:43] mdasberg commented on #20
v1.3.0 has been released

[2017-07-11 21:43] #20 closed

[2017-07-12 10:22] sandervalstar commented on #20
Just upgraded and it works, thanks again!

[2017-07-14 15:49] JurajVajda opened #21 "Feature: response based on POST params"
While in GET method we can use regexp for matching url parameters in POST requests is no option of getting different mock response based on the POST request parameters. As a developer and tester i would like to configure mock response based on the POST parameters so i can test interaction with the application and rest api calls.

[2017-08-14 13:21] baconcutter commented on #21
+1

[2017-08-21 17:28] #16 closed

[2017-08-21 17:30] wswebcreation commented on #16
Awesome!!

[2017-08-21 20:20] #14 closed

[2017-08-21 20:22] mdasberg commented on #16
just release v1.4.0 which contains this feature

[2017-08-21 20:22] mdasberg commented on #14
just release v1.4.0 which contains this feature

[2017-08-24 07:10] bastiannijboer commented on #16
Great!!

[2017-08-29 09:39] wswebcreation commented on #16
And it works like a charm!! Tnx

[2017-09-04 12:30] bastiannijboer commented on #16
Also tried it now and works nicely! Thanks a lot.

[2017-09-19 14:31] builtbyjay commented on #21
I would also find this feature very useful :)

[2017-10-20 07:50] wswebcreation opened #28 "ng-Apimock fails when disabling the Control Flow"
In the future the Control Flow will be disabled. With protractor you can now already disable it by adding this flag in your config `SELENIUM_PROMISE_MANAGER = false`, see also [here](https://github.com/angular/protractor/blob/master/docs/control-flow.md#disabling-the-control-flow).

When you now disable it you will get this error:

[code]

This can easily be fixed with this in the `protractor.mock

[2017-10-24 14:53] mdasberg commented on #28
thanks I will pick it up

[2017-10-25 09:40] mdasberg commented on #28
fixed in release 1.4.2

[2017-10-25 09:40] #28 closed

[2017-10-25 10:14] wswebcreation commented on #28
Tnx!!

[2017-10-30 18:07] mr-mateus opened #29 "Could not select scenario [short-term]"
[16:06:04] E/launcher - Could not select scenario [short-term]
[16:06:04] E/launcher - Error: Could not select scenario [short-term]
    at process.on (C:\workspace\ngapimock-test\node_modules\protractor\lib\launcher.ts:187:50)
    at emitOne (events.js:96:13)
    at process.emit (events.js:188:7)
    at process.emit (C:\workspace\ngapimock-test\node_modules\source-map-support\source-map-support.j

[2017-10-30 20:12] wswebcreation commented on #29
Hi @mr-mateus

Can you please post your script that selects the scenario and the json file of the api you want to change?

Based on the readme you should have something like in [here](https://github.com/mdasberg/ng-apimock#howto-use-for-your-protractor-tests)

 
--
€ 19.250,00

 
--
€ 19.250,00

)

[2017-10-30 22:51] mr-mateus commented on #29
Hi @wswebcreation.

I have cloned the repository and followed the readme.md.

spec.ts
`
import { NgApimockTestPage } from './app.po';
import { browser } from 'protractor';

describe('ng-apimock-test App', () => {
  let page: NgApimockTestPage;
  let ngApimock: any = browser['ngApimock'];

  beforeEach(() => {
    page = new NgApimockTestPage();
  });

  it('should display one instalment', () => {

[2017-10-30 23:00] huiaic opened #30 "Protractor Error: Cannot find module './.tmp/ngApimock/protractor.mock.js'"
I have installed ng-apimock and see that v1.4.2 is inserted into my package.json
`"ng-apimock": "^1.4.2"`

Added the required setup in protractor config:
[code]
But when I run protractor, I'm getting this error:

My system info:

What am I missing?

Also, I have another question - the README says to create a separate file for each mock api call. But where should I save this file and do I need to n

[2017-10-31 05:27] wswebcreation commented on #29
Hi @mr-mateus

Can you also post an example of the JSON? I'm curious about the `name`-field of the JSON file. You    now have a `/` in it. It could be that that is the problem.

[2017-10-31 05:44] wswebcreation commented on #30
Hi @huiaic

What is the location of the `protractor.conf.js` file and the `protractor.mock.js` file? It could be that for example you have this structure

[code]

Then the `protractor.mock.js` is not in the same folder in comparison to the `protractor.conf.js`. You should use a relative path, or to be sure an absolute path. That's up to you

When you start ng-Apimock you start it with something li

[2017-10-31 09:53] mr-mateus commented on #29
Hi,

This is the scenario

short-term.json

{
"quote": {
"principal": 300,
"interest": 84.32,
"totalToRepay": 384.32,
"instalments": [{
"paymentDate": "2017-05-01",
"paymentAmount": 384.32
}],
"term": 35
}
}

quote-overview.json
{
"expression": "api/quote-overview",
"method": "GET",
"name": "api/quote-overview",
"isArray": false,
"responses": {
"short-term": {
"default": true,
"status": 200,
"head

[2017-10-31 10:06] wswebcreation commented on #29
@mr-mateus

Try camelCaseing your `name` and leave out the `/` => `"name": "apiQuoteOverview"` and then in your Protractor tests do this

[code]

That should work

[2017-10-31 15:24] mr-mateus commented on #29
Hi,

I tried, but get the same problem...

*Could not select scenario [short-term]*
*[13:21:15] E/launcher - Error: Could not select scenario [short-term]*
*    at process.on
(C:\workspace\ngapimock-test\node_modules\protractor\lib\launcher.ts:187:50)*
*    at emitOne (events.js:96:13)*
*    at process.emit (events.js:188:7)*
*    at process.emit
(C:\workspace\ngapimock-test\node_modules\source-ma

[2017-10-31 19:22] wswebcreation commented on #29
@mr-mateus

You are still using a different name in your script, I mean you are still using `api/quoteOverview` as a reference to the API. The name of the scenario shouldn't be the problem

[2017-10-31 19:31] mdasberg commented on #29
@wswebcreation nice catch. The expression is converted to a regular expression, hence using a / will not work

[2017-11-01 15:42] mr-mateus commented on #29
Hi,

I searched but didn't find the meaning of error code 199. Can you help me
to understanding?

I have two computers... one the protractor test works but the other give me
the code 199.

2017-10-31 17:31 GMT-02:00 Mischa Dasberg <notifications@github.com>:

[2017-11-16 22:40] sandervalstar opened #31 "Passthrough doesn't forward request headers?"
I'm working on a project that integrates with AWS.
If I take ng-apimock out of the chain I can do requests to AWS without issues, but when I set my ng-apimocks to Passthrough I get the following error from AWS:
"message": "Missing Authentication Token"

This token is supposed to be set in the "x-api-key" header.
When I look at my request in the network tab of chrome inspector, I see the header is

[2017-11-16 23:25] sandervalstar commented on #31
Never mind, I did some more investigation and found the Passthrough url I had configured missed a "/api" at the end.
Apparently AWS likes to give a 403 with an authentication error message instead of a 404 if your url is wrong...

[2017-11-16 23:25] #31 closed

[2017-11-30 05:46] sandervalstar opened #32 "Add documentation on how to use ng-apimock with other testing frameworks than protractor"
I'm working on a project where I wanted to do the testing using Cypress: https://www.cypress.io/
It took me some time to figure out how to best integrate Cypress and ng-apimock, but this is what I ended up doing:

Assuming ng-apimock is running on port 8101. Define the following custom cypress commands in
`cypress/support/commands.js`:
[code]

You can then use these commands in your tests as follo

[2017-11-30 05:58] wswebcreation commented on #32
Hi @sandervalstar

Nice that you are also trying to use ng-Apimock with a different framework then Protractor. I'm currently also investigating the use of ng-Apimock with Webdriver.io i.c.m. native mobile apps.
I also talked about this with @mdasberg to pull out some logic from ng-Apimock template for Protractor to a more generic api that can be used by any framework. This will definitely help in

[2017-12-03 12:47] eyalkenig commented on #21
+1

[2017-12-11 17:32] stefanlemmen opened #33 "decode requestUrl before matching it against the expression"
When using ng-apimock in different browsers like Chrome and IE11 in my case, the requestUrl can be different between browsers. In my opinion the expression should match the decoded url for consistency. For instance when using single quotes in urls.

[code]
In the current setup this leads to complex regular expression strings like this
`\/search\/query=(%27|\')[a-zA-Z0-9]*(%27|\')`

[2017-12-13 18:51] builtbyjay opened #36 "Release 1.4.3 breaks protractor e2e tests"
The changes made as part of 1.4.3 are breaking my e2e tests which use ngApimock to select scenarios.
https://github.com/mdasberg/ng-apimock/commit/48c99527e9a2d69d68119e81f85db85c7f9cfef9#diff-cbc5d6ec2fddf738fce80b86119065d2R57

Console output below:

[code]

I'm not quite sure I understand the logic of removing the `else` block for the `addMockModule` call. Surely the `addMockModule` method is a

[2017-12-13 19:17] mdasberg commented on #36
sorry about that, I am working on a fix atm

[2017-12-13 20:38] mdasberg commented on #36
I just release [v1.4.4](https://github.com/mdasberg/ng-apimock/releases/tag/v1.4.4) which should fix this issue.

[2017-12-14 11:35] builtbyjay commented on #36
No problem at all :)

Thank you for the quick fix @mdasberg

[2017-12-14 11:35] #36 closed

[2017-12-20 12:44] deveras opened #37 "Number of imports"
Feature request: Once the mocks have been registered, inform the user of how many.

This will ensure that the user that they have been imported

[2017-12-20 12:45] deveras opened #38 "global variables parsed from mocks"
Feature request: When parsing mocks check for the presense of global variables

This would all the user to be informed about which global variables where found. It could be sent to the console after the registered mocks message and it could go be used to populate the UI

[2018-01-05 18:06] Local9 commented on #30
I have this issue also but I have a different folder layout. I am adding this to a Angular-CLI project, everything else is fine if I write the whole path but this defeats the point. Example below;
[code]

[2018-01-07 10:26] foofighter69 commented on #21
+1

[2018-01-09 19:34] kc13greiner commented on #21
+1

[2018-01-23 12:10] bastiannijboer opened #39 "Feature: I would like to be able to use a global variable on the header"
We use the headers to determine a user's role. Therefore I would like to be able to influence the header based on a variable.

Currently variables can only be used on response.data.

[2018-01-23 14:22] Local9 opened #40 "selectScenario is not selecting the requested scenario"
I'm calling `ngApimock.selectScenario('welcome', 'welcome-new-title');` correctly in my step but it is only acting as a pass through unless default is defined true, to test this I added another scenario. Am I getting something wrong?

Mock file: welcome.json
[code]
service http request:
[code]
Edit: I'm being returned "Cannot GET /api/v1/welcome" on the mocking page

Edit: Updated expression to re

[2018-01-23 22:08] mdasberg commented on #40
I've tried to reproduce your situation, but when I use your mock and I call the url I get the correct answer.

When I call the url without changing the scenario I get

[code]
results in
[code]

When I call the url after selecting the scenario "welcome-new-title" I get this
[code]
results in
[code]

can you show me your setup?

[2018-01-24 11:52] Local9 commented on #40
My setup is here: https://github.com/Local9/AngularBDD-serenityJS

[2018-01-24 17:22] mdasberg commented on #40
I just checked out your repo and checked the code.

in your [mock file](https://github.com/Local9/AngularBDD-serenityJS/blob/master/mocks/welcome.json) you have both scenarios set to **false** which results in a **passThrough**.

when you call **ngApimock.selectScenario** in your [po file](https://github.com/Local9/AngularBDD-serenityJS/blob/master/e2e/app.po.ts) like this:
[code]

your tests is s

[2018-01-24 18:25] Local9 commented on #40
Ok so selectScenario returns a promise which will then make it return the correct scenario?

[2018-01-24 19:37] mdasberg commented on #40
yes every method on ngApimock returns a promise.

[2018-01-24 19:37] #40 closed

[2018-01-30 13:39] Local9 commented on #40
Sorry to re-open this, same issue still remains using selectScenario, am I reading this wrong?!

I am declaring which scenario I want it to use but it is not, I can see it making the calls to the API layer when running my tests but the scenario is not correctly selected.

Process;
- Run the API `npm run api`
- Run e2e tests with proxy `npm run e2e` this will serve the application and also use the

[2018-02-16 13:08] trietsch commented on #21
+1

[2018-02-27 00:40] bksantiago opened #41 "Feature: allow mocking a web socket connection"
Do you intend to support this in the near future?

[2018-03-14 21:58] victorsoliveira opened #43 "Improvement: Add baseUrl at run configuration"
I'm trying to use ngapimock lib, but, geneated protractor-mock.js use "browser.baseUrl"  fixed info and i'm trying to use with my ionic project , but i need the mock server up at different port of my ionic project.

So, if i make a improve at run configuration adding a baseUrl info we can use that at protractor-mock.js, if was null, use browser.baseUrl.

Can i make this improve and send a PR for u

[2018-03-15 05:24] wswebcreation commented on #43
Hi @victorsoliveira

That would be awesome. @mdasberg Will you also pick that up in the refactor?

[2018-03-15 07:55] mdasberg commented on #43
of course, please do, I will implement it in the rewrite as well

[2018-03-15 07:56] mdasberg commented on #41
Of course that would be an option. I will have to look into it. Do you have any implementation ideas?

[2018-03-15 12:13] victorsoliveira commented on #43
@mdasberg I'm doing now!
Thanks!

[2018-03-15 16:11] victorsoliveira commented on #43
@mdasberg PR #44!

[2018-03-15 21:11] victorsoliveira commented on #43
@wswebcreation The PR #44 was merged!
@mdasberg waiting for next release!  ;-)

[2018-03-16 15:56] mdasberg commented on #43
@victorsoliveira v1.4.5 has been released

[2018-03-16 15:56] #43 closed

[2018-03-22 00:42] emartinez-usgs opened #45 "Error when updating or re-installing package"
Error occurs when upgrading or attempting to re-install package on top of itself. The problem seems to be related to the fact that the `.git` directory is included in the package distribution. Can this be removed?

To reproduce:
[code]
Installing the first time seems to work fine, the second install produces the following error:
[code]

[2018-03-22 07:58] mdasberg commented on #45
Thank you for reporting this issue. I will make a fix for it.

[2018-03-23 10:36] mdasberg commented on #45
version 1.4.6 has been released which fixes this.

[2018-03-23 10:36] #45 closed

[2018-03-26 13:24] emartinez-usgs commented on #45
Fix works great. Thank you. 👍

[2018-04-06 14:25] bastiannijboer opened #48 "ngApimock.selectScenario does not change scenario. I keep getting the default scenario."
As the title says, I'm experiencing issues with the selectScenario function to set a scenario from a protractor script. Calling the function does change the selected scenario in the /mocking frontend. However, the server still gives me back the default scenario. When I run express in debug mode I see the selectScenario call from the protractor script arriving in my server.

My setup is as follows:

[2018-04-07 18:46] mdasberg commented on #48
hi @bastiannijboer can you post the code in which you call selectScenario?

[2018-04-07 19:15] bastiannijboer commented on #48
Jep, it is:
`await ngApimock.selectScenario('GET-clientportal-productsoverview', 'error');`
`await browser.get('/mijn-producten');`
`expect(await mijnProductenPage.errorEl.isPresent()).to.be.true;

[2018-04-07 19:28] mdasberg commented on #48
could you try and put the following attribute in your protractor.conf

SELENIUM_PROMISE_MANAGER: false

[2018-04-07 19:36] bastiannijboer commented on #48
I currently have that. I also tried it without, but it keeps returning the default response.
However, a strange thing is; When I debug my test code and I set a breakpoint before my expect in this code:
`await ngApimock.selectScenario('GET-clientportal-productsoverview', 'error');`
`await browser.get('/mijn-producten');`
`expect(await mijnProductenPage.errorEl.isPresent()).to.be.true;`

**When I ha

[2018-04-07 20:33] wswebcreation commented on #48
Have you tried renaming the scenario's without the -, camelcase them. I remember we had a problem with that in the past.

[2018-04-08 05:35] wswebcreation commented on #48
@mdasberg and @bastiannijboer

What I find strange is this remark

When I then open the ng-apimock frontend (at localhost:3000/mocking) I see that the response is shown as being set to 'error', which is the response that I wanted, but in reality I get the default response back.

This should not be visible in the frondend because it uses a cookie based on the session. It now looks like no cookie ha

[2018-04-08 09:36] mdasberg commented on #48
@bastiannijboer there is a difference between what is selected in protractor and what is shown in the web-interface.  Because protractor is using a session identifier, so when you have multiple protractor instances running parallel, you don't get the response set in another test.

I think I know what the issue is.
ngapimock uses a cookie for protractor to get the correct response for the protracto

[2018-04-08 10:07] bastiannijboer commented on #48
@mdasberg I tried your suggested work around with both
`SELENIUM_PROMISE_MANAGER: false`
and
`SELENIUM_PROMISE_MANAGER: true`
Unfortunately both still result in the default response.

[2018-04-09 11:54] bastiannijboer commented on #48
Ofcourse. I have created an example by using the angular 5 example app from here: https://github.com/Ismaestro/angular5-example-app

In the appendix I've added

[2018-04-09 12:08] bastiannijboer commented on #48
Sorry for closing and reopening this issue, I accidentally hit the wrong button..

[2018-04-09 14:40] mdasberg commented on #48
@bastiannijboer after fixing your repo (missed angular-cli.json) I did a debug and found out that you forgot to proxy your e2e.

if you update your package.json e2e script with

[code]

it will work

[2018-04-09 14:46] bastiannijboer commented on #48
@mdasberg Sorry for the confusion: The e2e test came with the sample app, I should have removed them to prevent confusion. It is about the integration tests that you can run with `npm run it`. In order to do this you need to start the application seperately in this set-up with the `npm start` command. This command does include the proxy setup.

[2018-04-09 15:36] mdasberg commented on #48
@bastiannijboer so apparently your angular application was configured incorrectly.

You did not proxy your api calls because in the in [proxy.config.json](https://github.com/bastiannijboer/ReproduceIssueNgApimock/blob/master/proxy.config.json#L2) you route **/api** instead of **/heroes**

and in your [app.config.ts](https://github.com/bastiannijboer/ReproduceIssueNgApimock/blob/master/src/app/conf

[2018-04-10 06:27] bastiannijboer commented on #48
@mdasberg I am somehow happy that in the sample repo I have made this mistake. It was indeed this problem but I would have never found this otherwise:
In the "real" app that I want to test I did not make use of a proxy. But after checking all the url's I realized that this app is of course pointing to a different backend server. So the api's that I want to mock are not running on the same url as w

[2018-04-10 06:27] #48 closed

[2018-04-10 06:54] wswebcreation commented on #48
You're welcome

[2018-04-20 00:36] danpowell88 opened #49 "Expectations"
It would be quite handy to be able to verify the mock was called with certain parameters or certain endpoints were hit, I can't currrently see a way to provide this.

[2018-04-20 03:13] wswebcreation commented on #49
Hi @danpowell88

Isn't this more like a unit test of the source code instead of testing this in ng-apimock?

[2018-04-20 03:47] danpowell88 commented on #49
Yeah I'd think mostly unit testing would cover a lot of it but it is handy in some circumstances to be able to check that the api was called.

nock does it but it doesn't have any kind of nice angular support from what i could tell

https://github.com/node-nock/nock

[2018-04-20 04:33] wswebcreation commented on #49
Tnx for your answer. ng-apimock doesn't have a prebuild assertion in it, but it could be a feature. @mdasberg , what do you think about that?

[2018-05-30 22:17] bhoppeadoy opened #50 "Use value from expression to match specific data"
Is it possible to capture a value from the expression and use that to return specific data? Like a regex capture?

For example, I have this simple mock that returns an array of data that's contained in a file
"expression": "api\/solutions"
"response": {
  "file": "data/solutions-list.json"
}

Each item in the array has a GUID associated with it. This GUID is used in other API calls, for example th

[2018-05-31 11:34] lazytesting opened #51 "Mocking external calls"
I'm trying to setup mocking for a Angular app and I'm running into some issues.
What I did:
1. run my angular app on localhost:4200
2. create a server.js (mostly stolen from https://github.com/wswebcreation/rtc-demo-app). I set the rtcProxyOptions to
[code]
3. create a few mocks
4. ```node server.js```

Now I see the mocks working for calls to localhost:4200/whatever. But for calls to other servic

[2018-05-31 11:43] mdasberg commented on #51
@lazytesting I think it is because you have the following expression:

``` "expression": "http://localhost:1337/something",```

This expression is used to match the url. If you change it to:

``` "expression": "/something",```

it should work

[2018-05-31 13:37] lazytesting commented on #51
hi @mdasberg thanks for your quick response! I tried changing the expression to only the path but that doesn't work either. But no luck yet. Anything other ideas?

[2018-06-04 07:54] lazytesting commented on #51
This weekend I tried to narrow down the issue. I didn't found a way to get it working but I can reproduce it also with loading a simple file from google tag manager.

1. Working mock
url: http://localhost:3001/cargo/xxx/js/new-relic.js (same endpoint as my application)
[code]

2. Not working mock
url: https://www.googletagmanager.com/gtm.js?id=GTM-XXX
[code]

My Express config:
[code]

[2018-06-05 13:27] yuryShevhcuk commented on #51
I have the same issue: didn't figure out yet how to proxy external https calls.

[2018-06-05 13:46] wswebcreation commented on #51
@mdasberg

The config @lazytesting has only routes to his localhost:4200 server, not to an other server. I never had to do this, but is ngApimock also possible to mock to server A and B with the same instance of ng-Apimock? Because I think that's the question of @lazytesting and @yuryShevhcuk

[2018-06-05 18:17] wswebcreation commented on #51
@lazytesting

I figured it out and I hope I understand what you want, but first let me give some background for ng-Apimock. This module will can only **mock all API's on 1 domain**, so for example, if your API's are on domain `example.com/api/`, then you can only mock all eindpoints on that domain.
The automation support for Protractor can also only handle 1 domain, which is the domain (for exampl

[2018-06-12 07:59] lucasbento commented on #49
This would be a really good feature, also looking forward for this one.

[2018-06-14 17:14] jfahrenkrug opened #52 "Docs: How to use the recording feature with Angular 2+?"
I'm intrigued by the recording feature, but I'm not sure whether it only works with AngularJS and not with Angular 2+. If it does work with Angular 2+: How does it work and what exactly do I have to do to capture all the API requests on a given page?

Thanks!

[2018-06-25 08:34] lnaie opened #53 "Runtime: Programmatically select response/selection from mock"
Hi,

I have a mock file defining a set of responses. I would like to be able to select programmatically, when I implement my own middleware/interceptor, based on the request signature, a certain response from the mock definition.

It's not clear whether that is possible.

Regards,
Lucian

[2018-06-27 12:43] basvermeulen commented on #41
I needed websocket mocking functionality as well, so I forked this repo and added the functionality.
I have to say, my implementation is quite quick and dirty still, but functions as a nice proof of concept.

Ideally I would like to integrate this in the new ng-apimock core branch. @mdasberg I you want, you can have a look at my implementation. The most interesting part I guess, is the test/mocks

[2018-07-04 08:44] jpzwarte opened #54 "ngapimockid cookie is set too late"
The problem i'm seeing is that the ngapimockid cookie is set too late, causing the calls to the (mock) backend to lack the cookie and always returning the default mocks, eventhough i'm calling ```selectScenario```. See my analysis below.

When i add some ```console.log``` calls to my ```onPrepare``` method in ```protractor.conf``` and to the ```ng-apimock/lib/utils``` ```ngApimockRequest``` functi

[2018-07-04 08:49] wswebcreation commented on #54
@jpzwarte

Can you please share your code that sets the state? I'm using ng-apimock for more than 2 years now and don't have problems with it. My first guess would be a promise implementation on your side.

[2018-07-04 08:54] jpzwarte commented on #54
@wswebcreation see https://gist.github.com/jpzwarte/a98149513b0f7437d3957d07abe79da8

[2018-07-04 09:22] jpzwarte commented on #54
@wswebcreation @mdasberg the hack below works 💪

[code]

[2018-07-04 11:30] jpzwarte commented on #54
I thought about this, for example i tried adding async/wait for the ```selectScenario``` call and a ```browser.sleep()``` before the ```page.navigateTo()``` but that didn't work. Anyway, i heard via some people that this issue *may* be fixed in another branch and *may* be backported. I the mean time i'll use my hack :)

[2018-07-04 12:14] wswebcreation commented on #54
👍

Can we close the issue then?

[2018-07-04 12:15] jpzwarte commented on #54
The bug report is still valid right? If so, i would keep it open to track progress.

[2018-07-17 07:43] aswathyravi90 opened #56 "Can't able to mock service call in ionic 3 application"
hi

I am trying to mock service (http://localhost:8100/assets/data.json) call from https://github.com/kristofferandreasen/simple-ionic-3-app.
But i am able to run server.js. Still not able set up middle ware connection between application and server.js. Could you please suggest how to set up middle ware connection in this application

[2018-07-24 06:46] pulla2908 opened #57 "ng-apimock use global variables in mocks without double quotes"
I have added ng-apimock to our Angular project. We have successfully created first mock definitions and wrote tests with protractor.

Now we want to start using global variables in mock definitions. As it seems I always have to use double quotes for variables. But in my case I need a number and not a string.

I have created a question on stackoverflow with a sample already, you can find it [here](

[2018-08-30 13:33] stefangoor opened #58 "Global variables seems to only work with data attribute not file for mocks"
Hi There,

Is is possible to use global variables in mock data when it comes from a file rather the data attribute?

In my scenario if I put the %%variable%% reference in a JSON object within the data: attribute it gets substituted correctly but if I have the same JSON object in a file that is loaded via the file: attribute it does not get substituted.

Is there a way to achieve this?

Many Thanks

[2018-09-20 18:26] maxfontana90 opened #60 "Add support for OPTIONS http request method."
Currently, the api mock server its running on a different port when compared to the SPA Im trying to test with Protractor. Proxying API requests is not an option in my case.

Please add the ability to support OPTIONS http request methods so that preflight requests succeed.

[2018-09-28 10:32] pezholio opened #61 "Could not select scenario"
Hi,

I'm trying to use ng-apimock with Protractor in an [Ionic](https://ionicframework.com/) project. After a few false starts, I _think_ I'm almost there, but I'm getting the error `Could not select scenario [get-single-case] thrown` when trying to use my mocks.

Here's my `protractor.conf.js`:

[code]

And here's a mock:

[code]

(I've left the actual data out for brevity)

And here's my tests:

[2018-10-01 15:10] mdasberg commented on #61
@pezholio could you try and chain your selectScenario promise.
It is an async call so it could be that the scenario has not been set yet befor you doe a page.get()

[2018-10-01 15:11] mdasberg commented on #60
@maxfontana90 I will look into that

[2018-10-05 10:48] pezholio commented on #61
Here's some more detailed output:

[code]

Weirdly, the test _seems_ to pass, but I don't see any output in Chrome

[2018-10-26 12:45] smasala commented on #48
@mdasberg we have that problem in regards to the cookie settings with protractor: https://github.com/mdasberg/ng-apimock/issues/48#issuecomment-379536068 will a fix be released for this?

[2018-10-27 08:15] #21 closed

[2018-11-06 15:43] marcelhageman opened #62 "Is it possible to get a custom GET response after a mock POST?"
So as a developer I would like to have the mock API respond with different sets of data automatically, based on what happens in the application I'm developing.

I was thinking it would be great if for each mock file I could configure certain "triggers" with the following setup:

The field `triggers` is a new field in the mock configuration file. Each separate trigger has its own name and contains

[2018-12-14 13:59] mdasberg commented on #62
Looks like a great addition. Lets see if we can get a working poc for this.

[2019-01-10 20:19] julissamackey opened #63 "Getting 404/ requests not being intercepted"
Using Angular 4.3.4 & Protractor 5.4.1
Below are my configurations and .json file
It seems I must be missing a step or doing something because I am getting 404,
the console does output this however
[code]
protractor.config:
[code]

mock
[code]

in my test:
[code]

I am getting response
[code]

[2019-01-12 12:39] Local9 commented on #40
So, spent the day back on this after doing a bunch of updates to me repo... still doesn't work.

If I set the mock on the mocking page, works as expected. So select scenario method work as I expected. I can see the PUT, but the GET returns nothing, from my understanding this should set the scenario, just like the drop down on the mocking page

Console Output;

[code]

welcome.po.ts;
https://github

[2019-01-12 12:42] Local9 commented on #63
Well not alone on the 404 front: https://github.com/mdasberg/ng-apimock/issues/40#issuecomment-453744313

[2019-01-12 15:59] mdasberg commented on #63
@Local9 your mock json was incorrect.

[code]
You had a } at the end that did not belong there.
This works for me.  Can you verify?

[2019-01-12 16:03] mdasberg commented on #40
@Local9 I will checkout the project and try to figure out what is going wrong.

[2019-01-12 16:51] Local9 commented on #40
I swear its something simple. If you have any questions I'll answer them asap.

[2019-01-14 08:49] mdasberg commented on #63
@Local9 and @julissamackey I have created a [pr](https://github.com/Local9/AngularBDD-serenityJS/pull/1) that upgrades to the latest version of ng-apimock

The problem was that you selected a scenario before you browsed to the page. What happens then is that you have no ngapimockid in your request to the backend. In the new version this has been fixed.

[2019-01-15 11:37] Local9 commented on #63
@mdasberg thank you very much, this is all working now. I've updated with your PR and all my santity test worked. I didn't think, due to it being in protractor, about the events process that the site had to be loaded before calling on the API Mock. This new change though will now allow setups to be called before landing pages are accessed.

[2019-01-15 20:56] #63 closed

[2019-01-15 20:57] julissamackey commented on #63
thank you!

[2019-01-29 19:19] SkrzypMajster opened #64 "Low level security vulnerability in one of dependencies"
Hi,

I'm using ng-apimock in one of my projects as a mock server in e2e tests.
I recently noticed that one of ng-apimock dependencies has low level security vulnerability.

When I ran **npm audit** command I found that **lodash** package in versions lower than 4.17.5 has vulnerability called "Prototype Pollution". Currently, ng-apimock uses lodash in version 4.17.4

For more informations, check li

[2019-02-05 20:48] mdasberg commented on #64
@SkrzypMajster I just release a version 1.4.8

[2019-02-05 20:48] #64 closed

[2019-02-06 13:28] jderboven opened #65 "Setup with NG-CLI 7"
Hello,
I have done an integration of that lib into an Angular 7 project but everytime I launch my e2e tests, it gets errors like : http//localhost:4200/ngapimock/runtime.js cannot be found 404...

Is there something i'm missing here ?

[2019-02-08 20:11] moefinley opened #66 "Should I expect additional middleware to be called after a mock is found?"
I want to use ng-apimock to mock using real a settings file with a single value modified for each scenario. This is so I don't have to create copies of all the settings I don't want to change in multiple mock JSON files. I was expecting to be able to use Express middleware to do this

[code]

However no request ever reaches the featureScenarioWriter function. I presume this is because the response

[2019-02-20 12:17] JongchanaP opened #67 "Cannot use the same scenario but different response"
In case API is the same but different in the body in a request.

Is this possible to use ng-Apimock?

Example:
API /api/everything
body request: { "source" : "customer", "id" : "123" }
response: mocks/data/customer.json

API /api/everything
body request: { "source" : "order", "id" : "O0001" }
response: mocks/data/order_o0001.json

[2019-02-28 18:12] Local9 commented on #65
I don't know if it will help you but you might find some things this repo that I put together [here](https://github.com/Local9/AngularBDD-serenityJS) with the help of @mdasberg it works as intended and should help guide you in a good direction.

[2019-02-28 18:14] Local9 commented on #67
Yes, by using select `selectScenario` you can change what data is returned from the API.

[2019-03-04 19:35] marcioferlan commented on #61
@pezholio can you please share the setup for running ng-apimock on your Ionic 3 project? Like the dependencies you installed, the setup for tslint, protractor and jasmine.. as well as a simple test case in which you managed to select the scenario properly? I'm trying it for a couple hours now with no success yet.
Thanks in advance!

[2019-03-05 08:22] pezholio commented on #61
Thanks, but I ended up going down a different route for this, using a live test API, and creating/deleting everything I needed as part of the setup/teardown routine.

[2019-03-05 08:36] mdasberg commented on #67
@JongchanaP I have rewritten the apimock to https://github.com/ng-apimock/core but haven't updated this github repo yet.

In the new version you can match request url, method, headers and payload.
This should do what you want. (https://github.com/ng-apimock/core#how-to-write-mocks)

[2019-03-05 08:39] mdasberg commented on #66
@moefinley the ngapimock middleware does not go to the next middleware function unless you set your scenario to passthrough in apimock.

Do you want to set a variable that is used in your mocks? if so you can use the variable option in apimock

[2019-03-19 15:55] SeJuDesign commented on #60
In case someone is curious.
The following mock file can be used as a catch all for all OPTION calls going to the API:
`{
	"name": "options",
	"request": {
		"url": "/api",
		"method": "OPTIONS"
	},
	"responses": {
		"200": {
			"status": 200,
			"data": {},
			"default": true
		}
	}
}`

[2019-03-26 19:23] maxfontana90 commented on #60
Sorry to come in late, but I fixed this by adding the cors middleware to my express app that bootstraps ng-apimock

[2019-03-28 07:57] netsi1964 opened #69 "Feature: visually show endpoints being hit"
If you have many endpoints it can be hard to see which endpoints are actually used. If the server could visually show which endpoints are actually hit (used) it would make it easier to use it. A hit counter for each endpoint would also be nice.

[2019-04-04 16:54] Ts-alan opened #70 "How to mock images via ng-apimock?"
How to mock images via ng-apimock?

[2019-04-17 20:48] rfodge opened #71 "ng-apimock using default mock on app launch"
When using ng-apimock to mock scenarios for an angular application, it keeps returning the default scenario on app launch when I set the scenario then launch the app:

[code]

The following gives me the expected results:
[code]

If I set the default to false for both possible scenarios, then it works without needing to navigate to the URL first.  Is there a way to tell it to not use the default wi

[2019-04-23 15:53] julissamackey commented on #61
Hi @marcioferlan @mdasberg  I am also receiving this error using Protractor
[code]

Here is my setup:
**My Protractor Config**
[code]

**My mock**
[code]

**Where I am selecting the scenario [ Page Object ]**
[code]

Any thoughts?

[2019-04-25 16:27] jeremymwells commented on #58
No, they don't seem to work that way. @mdasberg - any plans for this? PR's welcome?

[2019-04-29 14:31] mdasberg commented on #70
Hi @Ts-alan, you can use api mock to return an image like this:

[code]

[2019-04-30 17:11] #70 closed

[2019-05-03 13:57] Zima04 opened #72 "Is it working with Angular 7?"
So i have a question.Is it support Angular 7? I try to use this lib by your tutorial for angular cli, but it isn't working.

[2019-05-03 14:02] Zima04 commented on #72
Maybe someone has an example?

[2019-05-04 12:21] vlad-borsh opened #73 "record call for live api"
Can you add documentation for record calls for live api?

[2019-05-04 14:04] Zima04 commented on #29
any updates?

[2019-05-06 19:55] mdasberg commented on #72
@Zima04 I have been working on a new version in which I have split up ng-apimock.

https://github.com/ng-apimock/core
https://github.com/ng-apimock/protractor-plugin
https://github.com/ng-apimock/dev-interface

and some demo's (https://github.com/ng-apimock/demo)

This version works with Angular 7

[2019-05-07 11:30] #72 closed

[2019-05-07 11:30] #67 closed

[2019-05-08 11:12] builtbyjay commented on #29
Ahh sorry, it seems I've deleted the repo referenced in the link above. From what I can remember, the cause of this error was protractor HTTP requests to ng-apimock endpoints using the app port number rather than the port number ng-apimock is being served on.

The fix was to create a proxy rule for `/ngapimock/*` endpoints to use the correct port number.

[2019-05-29 16:09] galanovnick opened #74 "Can we change the base URL for `/ngapimock/*` calls"
Is it possible to change the base URL for `/ngapimock/*` calls without using any proxy?
In most of the examples, we use proxy to redirect all these calls to our actual API server.
[code]
But such approach forces us to push all other API calls through the same proxy because otherwise, as far as I understand, the cookie (or session id?) will differ so `selectScenario` won't have any effect.

So if f

[2019-05-30 12:03] Zima04 opened #75 "Query params"
Hello.Can you ask me, is it support query parameters in requests?For example url: /api/projects/1/documents/is-unique?documentName=1

[2019-06-03 18:39] mdasberg commented on #75
yes it is, you can provided a regular expression which matches that api

[2019-06-03 18:39] #75 closed

[2019-06-04 08:33] Zima04 commented on #75
Thank you for your answer

[2019-06-24 06:27] saury opened #76 "How to get a text/plain response?"
Here is my json file:
[code]
It returns me data wrapped with `"` with my client. And how can I mock the plain text?
Any one can help?

[2019-07-19 14:47] Zima04 opened #77 "Overlay requests"
Hello. I have problem. For example, two requests with params :
 first -
  "expression": "/api/projects/1/documents/1/rename",
    "method": "POST"
second -
"expression": "/api/projects/1/documents",
 "method": "POST"
Waiting behavior that is each of them should get their response.But i have result, that each of them have response from second request.Can you tell me how to resolve this?
Best regard

[2019-07-19 15:08] Zima04 commented on #77
I found decision : "^\/Reporting\/api\/projects\/1\/documents$". That was my sick knowledge of regular expressions and patterns :)

[2019-07-19 15:08] #77 closed

[2019-07-29 13:01] timm-unipro opened #78 "Dependency security vulnerabilities"
Many thanks for the plugin - it's very useful.

NPM Audit is giving a high level warning for lodash
https://nodesecurity.io/advisories/1065

- and a low level warning for braces
https://nodesecurity.io/advisories/786

Could you please update those dependencies.

Much appreciated

[2019-07-30 08:33] mdasberg commented on #78
@timm-unipro I will create a new release tonight

[2019-08-07 13:25] timm-unipro commented on #78
@mdasberg - any update on this?, thanks

[2019-08-12 10:39] mdasberg commented on #78
I just release 1.4.9 which removes all the high level warnings

[2019-08-12 10:39] #78 closed

[2019-10-30 04:23] lakshmi-236 opened #81 "Not able to communicate with mock server from app when mock server is in secure comunication(https)"
HI,
 ngapimock is  hosted/running in express server over https, by refering the below link im able to up mockserver in https.
https://timonweb.com/posts/running-expressjs-server-over-https/
 But after that not able to connect to mockserver while runnig protractor tests . getting error
**Ignoring uncaught error Error: socket hang up**

App is able to communicate to the real backend with https and b

[2019-11-01 21:47] mdasberg commented on #81
@lakshmi-236 can you provide a dummy setup so I can have a look?

[2019-11-01 21:55] mdasberg commented on #76
you can use a file for now.

[code]

[2019-11-04 01:41] saury commented on #76
Using a file works as expected. Thanks.

[2019-11-04 01:41] #76 closed

[2019-11-19 07:23] Jimit09 opened #82 "Add example of how to use this library for protractor. A complete setup will be really helpful"

[2019-12-26 22:57] rall commented on #65
thanks @Local9 ! that was very useful for me

[2020-02-20 18:53] abhinaba-ghosh opened #84 "Need help to configure protractor plugin for already deployed Non-Angular APP"
Hi,

1. I have a non-angular application and for whole test lifecyle I run protractor with :
await browser.waitForAngularEnabled(false);

2. My application is already deployed to a server with URL like: https://10.118.128.23/ABC/home.aspx

So, I actually can not start my app under test with serve.js file as shown here. [https://github.com/ng-apimock/demo/blob/master/protractor-plugin/serve.js]

Pl

[2020-03-02 05:59] vinibas commented on #65
Someone has a example project with Angular 9 and Protractor 5?

[2020-03-02 06:04] vinibas commented on #82
I can't understand how to configure it in an Angular 9 project (protractor 5). I've already wasted a lot of time trying. An example would help me a lot.

[2020-03-03 17:59] mdasberg commented on #84
@abhinaba1080 this is only going to work if you are able to add a middleware option to your http server.
Because once you have deployed your application, the xhr calls to your backend will go directly to your backend.

Isn't there a way to serve your application locally?

[2020-03-03 18:02] mdasberg commented on #82
@vinibas you can use the new version of ng-apimock. It has been split up into modules.

[here](https://github.com/ng-apimock/demo/blob/master/protractor-plugin/protractor.conf.js) you can find a demo of protractor configuration.

[2020-03-03 18:06] mdasberg commented on #81
@lakshmi-236 ng-apimock has a [new version](https://github.com/ng-apimock), which is modular.
I have just released a new version of the base-client (1.0.15) that supports https.

Please let me know if you run into any problems

[2020-03-03 18:08] mdasberg commented on #74
I have a task on the backlog to make this configurable in the new version.

https://github.com/ng-apimock/base-client/issues/5

[2020-03-03 18:47] mdasberg commented on #37
https://github.com/ng-apimock/core registers how many mocks have been loaded.

[2020-03-03 18:47] #37 closed

[2020-03-03 18:50] mdasberg commented on #73
@vlad-borsh each ng-apimock client has the function [recordRequests](https://github.com/ng-apimock/base-client/blob/master/src/client.ts#L54), which enables ng-apimock to record all api calls.

You can get the recordings using the function [getRecordings](https://github.com/ng-apimock/base-client/blob/master/src/client.ts#L41) or through the dev-interface recordings tab

[2020-03-03 18:50] #73 closed

[2020-03-04 15:22] Local9 commented on #65
@vinibas and @rall I have updated my repo to now use the latest version of Angular.

[2020-03-30 06:13] lakshmi-236 opened #85 "Not able to run two clients simultaneously with ngapimock server"
I am running ng-aimock in one mac machine, and trying to access the same from two other machines in same network. Unfortunately it did not work. This is working when there is a only a single machine which access the server. Please help in resolving this

[2020-05-26 12:42] rebajz opened #87 "ng-apimock - not support protractor 7"
npm WARN ng-apimock@1.4.9 requires a peer of protractor@5.x but none is installed. You must install peer dependencies yourself.

[2020-06-10 12:39] farisT opened #88 "Cannot seem to change scenarios in an e2e test"
Hi,

I am having trouble changing scenarios in a test. At the moment I have these e2e tests:

[code]

In the `Error Scenario` describe I change the scenario of the api-mock to `internalServerError` however the scenario does not change and therefore the tests in that describe fail. What is interesting is that when I `fdescribe` the error scenario (aka only run those tests) it does successfully chan

[2020-06-10 19:08] mdasberg commented on #88
apimock uses a cookie to make sure that parallel tests don't intervene with each other.
Therefor a page needs to be opened before you select a scenario.

Here you navigate after the selection of the scenario.

This issue has been resolved in the new version of [ngapimock](https://github.com/ng-apimock/core).

[2020-06-10 19:10] mdasberg commented on #87
This version of ng-apimock has been deprecated.  I suggest you upgrade to the new modular version. (https://github.com/ng-apimock/core)

[2020-06-10 19:10] #87 closed, assigned to nobody

[2020-06-10 19:11] #84 closed, assigned to nobody

[2020-08-10 07:08] farisT commented on #88
@mdasberg Thank you for this. We have updated to the new ngapimock and that did the trick 👍

[2020-08-10 07:08] #88 closed, assigned to nobody

[2021-03-30 05:39] ynsfasttoday opened #91 "Please share a working example with Angular"
Please do not suggest newer ngapimock!! My company uses this
Whatever I do with this is creating all sorts of errors like
1. Proxy issues
2. Could not select scenario.
Please help me out. Share stackblitz or GitHub repo where I can npm i and use

[2021-03-30 10:09] #85 closed, assigned to nobody

[2021-03-30 10:10] mdasberg commented on #91
@ynsfasttoday could you share what you have now?
Stack traces for instance?

[2021-04-06 06:36] timnederhoff opened #93 "Question: is it possible to capture the received requests to verify (test) if the right call is made by my app?"
Hi @mdasberg is it possible to capture the received requests to verify (test) if the right call is made by my app? In TestCafe for example it is called request logging, a feature that enables you to obtain received calls via the api. Wiremock named it request journals with comparable functionality.

BR. Tim

[2022-03-03 14:37] rajjaiswalsaumya commented on #32
Is there a document how to use ngapimock with cypress? I am getting error for selectCommand that i defined as defined on site.